[Unit]
Description=Check for the one pre-dusk SoC issue window

[Timer]
OnCalendar=*-*-* 14..20:00,30
AccuracySec=1s
Persistent=true
Unit=forecast-pre-dusk.service

[Install]
WantedBy=timers.target
